<a href="https://colab.research.google.com/github/HongSeongMo/Bigdata_Analysis_Professional/blob/main/241011.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import  seaborn as sns
import pandas as pd

titanic = sns.load_dataset('titanic')
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [ ]:
print(type(titanic))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
print(titanic.dtypes)

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [ ]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/mtcars.csv', header=0, index_col=0)
print(df.head())

                    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
model
Mazda RX4          21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
Mazda RX4 Wag      21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
Datsun 710         22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
Hornet 4 Drive     21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3

                   carb
model
Mazda RX4             4
Mazda RX4 Wag         4
Datsun 710            1
Hornet 4 Drive        1
Hornet Sportabout     2

In [ ]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
print(df.dtypes)

mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

In [ ]:
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
!pwd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content

In [ ]:
!ls -al

total 20
drwxr-xr-x 1 root root 4096 Oct 11 04:28 .
drwxr-xr-x 1 root root 4096 Oct 11 04:14 ..
drwxr-xr-x 4 root root 4096 Oct  8 13:25 .config
drwx------ 7 root root 4096 Oct 11 04:28 drive
drwxr-xr-x 1 root root 4096 Oct  8 13:26 sample_data

In [ ]:
import pandas as pd
m = ['male']
f = ['female']
for i in range(9):
    m.append('male');f.append('female')
gender = m + f
print(gender)

['male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'female', 'female', 'female', 'female', 'female', 'female', 'female', 'female', 'female', 'female']

In [ ]:
df = pd.DataFrame(gender, columns=['Gender'])
print(df)

    Gender
0     male
1     male
2     male
3     male
4     male
5     male
6     male
7     male
8     male
9     male
10  female
11  female
12  female
13  female
14  female
15  female
16  female
17  female
18  female
19  female

In [ ]:
df.dtypes

Gender    object
dtype: object

In [ ]:
df['Gender_category'] = df['Gender'].astype('category')
print(df)

    Gender Gender_category
0     male            male
1     male            male
2     male            male
3     male            male
4     male            male
5     male            male
6     male            male
7     male            male
8     male            male
9     male            male
10  female          female
11  female          female
12  female          female
13  female          female
14  female          female
15  female          female
16  female          female
17  female          female
18  female          female
19  female          female

In [ ]:
df.dtypes

Gender               object
Gender_category    category
dtype: object

In [ ]:
df[df['Gender_category']=='male'].count()['Gender_category']

10

In [ ]:
df[df['Gender_category']=='female'].count()['Gender_category']

10

In [ ]:
import  seaborn as sns
import pandas as pd

titanic = sns.load_dataset('titanic')
print(titanic.dtypes)

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object