<a href="https://colab.research.google.com/github/HongSeongMo/Bigdata_Analysis_Professional/blob/main/241012.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import  seaborn as sns
import pandas as pd

titanic = sns.load_dataset('titanic')
print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
print(type(titanic))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
print(titanic.dtypes)

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [ ]:
titanic.describe()

         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/mtcars.csv', header=0, index_col=0)
print(df.head())

                    mpg  cyl   disp   hp  drat     wt   qsec  vs  am  gear  \
model
Mazda RX4          21.0    6  160.0  110  3.90  2.620  16.46   0   1     4
Mazda RX4 Wag      21.0    6  160.0  110  3.90  2.875  17.02   0   1     4
Datsun 710         22.8    4  108.0   93  3.85  2.320  18.61   1   1     4
Hornet 4 Drive     21.4    6  258.0  110  3.08  3.215  19.44   1   0     3
Hornet Sportabout  18.7    8  360.0  175  3.15  3.440  17.02   0   0     3

                   carb
model
Mazda RX4             4
Mazda RX4 Wag         4
Datsun 710            1
Hornet 4 Drive        1
Hornet Sportabout     2

In [ ]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [ ]:
print(df.dtypes)

mpg     float64
cyl       int64
disp    float64
hp        int64
drat    float64
wt      float64
qsec    float64
vs        int64
am        int64
gear      int64
carb      int64
dtype: object

In [ ]:
df.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

In [ ]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
!pwd

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content

In [ ]:
!ls -al

total 20
drwxr-xr-x 1 root root 4096 Oct 11 04:28 .
drwxr-xr-x 1 root root 4096 Oct 11 04:14 ..
drwxr-xr-x 4 root root 4096 Oct  8 13:25 .config
drwx------ 7 root root 4096 Oct 11 04:28 drive
drwxr-xr-x 1 root root 4096 Oct  8 13:26 sample_data

In [ ]:
import pandas as pd
m = ['male']
f = ['female']
for i in range(9):
    m.append('male');f.append('female')
gender = m + f
print(gender)

['male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'male', 'female', 'female', 'female', 'female', 'female', 'female', 'female', 'female', 'female', 'female']

In [ ]:
df = pd.DataFrame(gender, columns=['Gender'])
print(df)

    Gender
0     male
1     male
2     male
3     male
4     male
5     male
6     male
7     male
8     male
9     male
10  female
11  female
12  female
13  female
14  female
15  female
16  female
17  female
18  female
19  female

In [ ]:
df.dtypes

Gender    object
dtype: object

In [ ]:
df['Gender_category'] = df['Gender'].astype('category')
print(df)

    Gender Gender_category
0     male            male
1     male            male
2     male            male
3     male            male
4     male            male
5     male            male
6     male            male
7     male            male
8     male            male
9     male            male
10  female          female
11  female          female
12  female          female
13  female          female
14  female          female
15  female          female
16  female          female
17  female          female
18  female          female
19  female          female

In [ ]:
df.dtypes

Gender               object
Gender_category    category
dtype: object

In [ ]:
df[df['Gender_category']=='male'].count()['Gender_category']

10

In [ ]:
df[df['Gender_category']=='female'].count()['Gender_category']

10

In [ ]:
import  seaborn as sns
import pandas as pd

titanic = sns.load_dataset('titanic')
print(titanic.dtypes)

survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
deck           category
embark_town      object
alive            object
alone              bool
dtype: object

In [2]:
z = lambda a, b : 100 if a > b else 200
print(z(5, 6))

200

In [6]:
sum = 0
for i in range(1, 11, 3):
    sum += i
print(sum)

22

In [10]:
x = []
for i in range(11): x.append(i)
print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [12]:
sum = 0
for i in x:
    sum += x[i]
print(sum)

55

In [13]:
s = input(' ')
print(s)

In [14]:
print(type(s))

<class 'str'>

In [15]:
len(s)

5

In [17]:
s[1]

''

In [18]:
for i in s:
    print(i)

In [20]:
for i in s:
    print(i, end='')

In [21]:
sum = 0
i = 0
while (i < 11):
    sum += i
    i += 1

print(sum)

55

In [22]:
i = 0
while True:
    print(i, end='')
    if i == 5:
        break
    i += 1

012345

In [23]:
i = 0
while i < 10:
    i += 1
    if i == 5:
        continue
    print(i, end='')

1234678910

In [6]:
from google.colab import files
uploaded = files.upload()

Saving quakes.csv to quakes.csv

In [7]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
quakes = pd.read_csv('/content/quakes.csv', index_col=0)
print(quakes)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
            lat    long  depth  mag  stations
rownames
1        -20.42  181.62    562  4.8        41
2        -20.62  181.03    650  4.2        15
3        -26.00  184.10     42  5.4        43
4        -17.97  181.66    626  4.1        19
5        -20.42  181.96    649  4.0        11
...         ...     ...    ...  ...       ...
996      -25.93  179.54    470  4.4        22
997      -12.28  167.06    248  4.7        35
998      -20.13  184.20    244  4.5        34
999      -17.40  187.80     40  4.5        14
1000     -21.59  170.56    165  6.0       119

[1000 rows x 5 columns]

In [8]:
quakes.head()

            lat    long  depth  mag  stations
rownames
1        -20.42  181.62    562  4.8        41
2        -20.62  181.03    650  4.2        15
3        -26.00  184.10     42  5.4        43
4        -17.97  181.66    626  4.1        19
5        -20.42  181.96    649  4.0        11

In [9]:
quakes.describe()

               lat         long        depth          mag     stations
count  1000.000000  1000.000000  1000.000000  1000.000000  1000.000000
mean    -20.642750   179.462020   311.371000     4.620400    33.418000
std       5.028791     6.069497   215.535498     0.402773    21.900386
min     -38.590000   165.670000    40.000000     4.000000    10.000000
25%     -23.470000   179.620000    99.000000     4.300000    18.000000
50%     -20.300000   181.410000   247.000000     4.600000    27.000000
75%     -17.637500   183.200000   543.000000     4.900000    42.000000
max     -10.720000   188.130000   680.000000     6.400000   132.000000

In [10]:
quakes.shape

(1000, 5)

In [11]:
quakes.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, 1 to 1000
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   lat       1000 non-null   float64
 1   long      1000 non-null   float64
 2   depth     1000 non-null   int64
 3   mag       1000 non-null   float64
 4   stations  1000 non-null   int64
dtypes: float64(3), int64(2)
memory usage: 46.9 KB

In [12]:
quakes.dtypes

lat         float64
long        float64
depth         int64
mag         float64
stations      int64
dtype: object

In [13]:
sum1 = 0; sum2 = 0
N = len(quakes)
N

1000

In [14]:
print('(quakes)  ', end='')
print(N)

(quakes)  1000

In [24]:
for mag_value in quakes['mag']:
    if mag_value >= 5.5:
        sum1 += 1
    elif mag_value <= 4.5:
        sum2 += 1
print('  5.5  (): ', end='');print(sum1)

  5.5  (): 76

In [25]:
print('  4.5  (): ', end='');print(sum2)

  4.5  (): 968

In [26]:
sum1 = 0
sum2 = 0

In [27]:
for i in range(0, quakes.shape[0]):
    if quakes['mag'].iloc[i] >= 5.5:
        sum1 += 1
    elif quakes['mag'].iloc[i] <= 4.5:
        sum2 += 1
print('  5.5  (): ', end='');print(sum1)

  5.5  (): 38

In [28]:
print('  4.5  (): ', end='');print(sum2)

  4.5  (): 484