<a href="https://colab.research.google.com/github/HongSeongMo/Bigdata_Analysis_Professional/blob/main/241014.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [1]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/work/data.csv', encoding='euc-kr', index_col=0)
df.head()

,성별,연령대,직업,주거지역,쇼핑액,이용만족도,쇼핑1월,쇼핑2월,쇼핑3월,쿠폰사용회수,쿠폰선호도,품질,가격,서비스,배송,쇼핑만족도,소득
고객번호,,,,,,,,,,,,,,,,,
190105,남자,45-49세,회사원,소도시,195.6,4,76.8,64.8,54.0,3,예,7,7,1,4,4,4300
190106,남자,25-29세,공무원,소도시,116.4,7,44.4,32.4,39.6,6,아니오,7,4,7,7,7,7500
190107,남자,50세 이상,자영업,중도시,183.6,4,66.0,66.0,51.6,5,예,4,4,3,3,6,2900
190108,남자,50세 이상,농어업,소도시,168.0,4,62.4,52.8,52.8,4,아니오,3,3,4,6,5,5300
190109,남자,40-44세,공무원,중도시,169.2,4,63.6,54.0,51.6,5,아니오,6,4,7,4,6,4000

In [2]:
type(df)

pandas.core.frame.DataFrame

In [5]:
df.dtypes

성별         object
연령대        object
직업         object
주거지역       object
쇼핑액       float64
이용만족도       int64
쇼핑1월      float64
쇼핑2월      float64
쇼핑3월      float64
쿠폰사용회수      int64
쿠폰선호도      object
품질          int64
가격          int64
서비스         int64
배송          int64
쇼핑만족도       int64
소득          int64
dtype: object

In [6]:
df.columns

Index(['성별', '연령대', '직업', '주거지역', '쇼핑액', '이용만족도', '쇼핑1월', '쇼핑2월', '쇼핑3월',
       '쿠폰사용회수', '쿠폰선호도', '품질', '가격', '서비스', '배송', '쇼핑만족도', '소득'],
      dtype='object')

In [7]:
import numpy as np

df['sum'] = df['쇼핑1월'] + df['쇼핑2월'] + df['쇼핑3월']
df['sum']

고객번호
190105    195.6
190106    116.4
190107    183.6
190108    168.0
190109    169.2
          ...
190190    231.6
190191    168.0
190192    216.0
190193    205.2
190194    217.2
Name: sum, Length: 90, dtype: float64

In [9]:
df['avg'] = df[['쇼핑1월', '쇼핑2월', '쇼핑3월']].apply(np.mean, axis=1)
df['avg']

고객번호
190105    65.2
190106    38.8
190107    61.2
190108    56.0
190109    56.4
          ...
190190    77.2
190191    56.0
190192    72.0
190193    68.4
190194    72.4
Name: avg, Length: 90, dtype: float64

In [10]:
df.rename(columns={'성별': 'gender'}, inplace=True)
df.head()

,gender,연령대,직업,주거지역,쇼핑액,이용만족도,쇼핑1월,쇼핑2월,쇼핑3월,쿠폰사용회수,쿠폰선호도,품질,가격,서비스,배송,쇼핑만족도,소득,sum,avg
고객번호,,,,,,,,,,,,,,,,,,,
190105,남자,45-49세,회사원,소도시,195.6,4,76.8,64.8,54.0,3,예,7,7,1,4,4,4300,195.6,65.2
190106,남자,25-29세,공무원,소도시,116.4,7,44.4,32.4,39.6,6,아니오,7,4,7,7,7,7500,116.4,38.8
190107,남자,50세 이상,자영업,중도시,183.6,4,66.0,66.0,51.6,5,예,4,4,3,3,6,2900,183.6,61.2
190108,남자,50세 이상,농어업,소도시,168.0,4,62.4,52.8,52.8,4,아니오,3,3,4,6,5,5300,168.0,56.0
190109,남자,40-44세,공무원,중도시,169.2,4,63.6,54.0,51.6,5,아니오,6,4,7,4,6,4000,169.2,56.4

In [11]:
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/work/data.csv', encoding='euc-kr', index_col=0)
df.head()

,성별,연령대,직업,주거지역,쇼핑액,이용만족도,쇼핑1월,쇼핑2월,쇼핑3월,쿠폰사용회수,쿠폰선호도,품질,가격,서비스,배송,쇼핑만족도,소득
고객번호,,,,,,,,,,,,,,,,,
190105,남자,45-49세,회사원,소도시,195.6,4,76.8,64.8,54.0,3,예,7,7,1,4,4,4300
190106,남자,25-29세,공무원,소도시,116.4,7,44.4,32.4,39.6,6,아니오,7,4,7,7,7,7500
190107,남자,50세 이상,자영업,중도시,183.6,4,66.0,66.0,51.6,5,예,4,4,3,3,6,2900
190108,남자,50세 이상,농어업,소도시,168.0,4,62.4,52.8,52.8,4,아니오,3,3,4,6,5,5300
190109,남자,40-44세,공무원,중도시,169.2,4,63.6,54.0,51.6,5,아니오,6,4,7,4,6,4000

In [13]:
print('"성별"의 데이터 유형: ', end='')
print(df.dtypes['성별'])

"성별"의 데이터 유형: object

In [15]:
df['gender'] = df['성별'].astype('category')
print(df.dtypes['gender'])

category

In [20]:
df['gendernum'] = df['gender'].map({'남자':1,'여자':0})
df['gendernum'] = df['gendernum'].astype(int)
print(df['gendernum'].dtypes)

int64

In [22]:
df.gendernum.count()

90

In [23]:
df['gendernum'].sum()

55

In [25]:
len(df.loc[df['gendernum'] == 0])

35

In [26]:
df.loc[df['gendernum'] == 0].shape[0]

35

In [30]:
ratio_male = df['gendernum'].sum()/df.gendernum.count() * 100
print(ratio_male,'%')

61.111111111111114 %

In [31]:
ratio_female = len(df.loc[df['gendernum'] == 0])/df.shape[0] * 100
print(ratio_female,'%')

38.88888888888889 %

In [34]:
df['gendernum'][df['gendernum'] == 0].count()/df.shape[0] * 100

38.88888888888889