<a href="https://colab.research.google.com/github/HongSeongMo/Bigdata_Analysis_Professional/blob/main/241101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 제5과목 데이터 모형 평가

제1장 분류 분석 모형 평가

In [3]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import SelectKBest, f_regression
data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/work/train_commerce.csv', index_col=0)
df = data.dropna()
df.dtypes

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Warehouse_block        object
Mode_of_Shipment       object
Customer_care_calls     int64
Customer_rating         int64
Cost_of_the_Product     int64
Prior_purchases         int64
Product_importance     object
Gender                 object
Discount_offered        int64
Weight_in_gms           int64
Reached.on.Time_Y.N     int64
dtype: object

In [4]:
df['Warehouse_block'] = df['Warehouse_block'].map({'A': 0, 'B': 1, 'C': 2, 'D': 3, 'F': 4})
df['Mode_of_Shipment'] = df['Mode_of_Shipment'].map({'Flight': 0, 'Road': 1, 'Ship': 2})
df['Product_importance'] = df['Product_importance'].map({'low': 0, 'medium': 1, 'high': 2})
df['Gender'] = df['Gender'].map({'F': 0, 'M': 1})
df['Reached.on.Time_Y.N'] = df['Reached.on.Time_Y.N'].astype('category')
x = df.drop('Reached.on.Time_Y.N', axis='columns').to_numpy()
y = df['Reached.on.Time_Y.N'].to_numpy()
model = LinearRegression()
model.fit(x, y)
coefImportance = np.abs(model.coef_)
sortedFeature = np.argsort(coefImportance)[::-1]
print(sortedFeature)

[2 6 5 8 7 3 1 0 4 9]

In [9]:
from google.colab import drive
drive.mount('/content/drive')
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

data = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/work/train_commerce.csv', index_col=0)
df = data.dropna()
df.dtypes

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Warehouse_block        object
Mode_of_Shipment       object
Customer_care_calls     int64
Customer_rating         int64
Cost_of_the_Product     int64
Prior_purchases         int64
Product_importance     object
Gender                 object
Discount_offered        int64
Weight_in_gms           int64
Reached.on.Time_Y.N     int64
dtype: object

In [10]:
df['Product_importance'] = df['Product_importance'].map({'low': 0, 'medium': 1, 'high': 2})
df['Reached.on.Time_Y.N'] = df['Reached.on.Time_Y.N'].astype('category')
x = df[['Customer_care_calls','Product_importance','Prior_purchases']].to_numpy()
y = df['Reached.on.Time_Y.N'].to_numpy()
trainx, testx, trainy, testy = train_test_split(x, y, test_size=0.3, random_state=55)
scaler = StandardScaler()
scaler.fit(trainx)
trainx_scale = scaler.transform(trainx)
testx_scale = scaler.transform(testx)
model = LogisticRegression(C=20, max_iter=1000)
model.fit(trainx_scale, trainy)
prediction = model.predict(testx_scale)
result = pd.DataFrame(np.array([testy, prediction]).T, columns=['Actual', 'Predict'])
print(result.head(10))

   Actual  Predict
0       0        1
1       0        1
2       1        1
3       0        1
4       1        1
5       0        1
6       0        1
7       1        1
8       0        1
9       1        1

In [11]:
print(model.score(trainx_scale, trainy)*100)
print(model.score(testx_scale, testy)*100)
print(model.classes_)
print(model.coef_)
print(model.intercept_)

59.05961813222497
59.93939393939394
[0 1]
[[-0.12554142  0.04525028 -0.082258  ]]
[0.38195347]