<a href="https://colab.research.google.com/github/HongSeongMo/Bigdata_Analysis_Professional/blob/main/250904.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
df = pd.read_csv('https://raw.githubusercontent.com/YoungjinBD/data/main/exam/9_1_1.csv')
print(df.head())

   year  gender  지역코드    금액1    금액2
0  2018       0   143  70713  43210
1  2019       0   183  40306  39663
2  2017       0   129  26646  41631
3  2019       0   161  56843  12455
4  2019       0   174  26371   9014

In [4]:
df['총대출액'] = df['금액1'] + df['금액2']
print(df.head())

   year  gender  지역코드    금액1    금액2    총대출액
0  2018       0   143  70713  43210  113923
1  2019       0   183  40306  39663   79969
2  2017       0   129  26646  41631   68277
3  2019       0   161  56843  12455   69298
4  2019       0   174  26371   9014   35385

In [5]:
dfgender = df.groupby(['year','gender','지역코드'])['총대출액'].sum().reset_index()
print(dfgender.head())

   year  gender  지역코드    총대출액
0  2015       0   131   37881
1  2015       0   151   32197
2  2015       0   195  161121
3  2015       0   197   93317
4  2015       1   101   87088

In [6]:
df_pivot = dfgender.pivot_table(index=['year','지역코드'],columns='gender',values='총대출액', fill_value=0)
print(df_pivot.head())

gender           0         1
year 지역코드
2015 101       0.0   87088.0
     118       0.0  100609.0
     130       0.0   41599.0
     131   37881.0       0.0
     150       0.0   56775.0

In [8]:
df_pivot['abs_diff'] = abs(df_pivot[0] - df_pivot[1])
print('지역코드 :', df_pivot.index[0][1])

지역코드 : 101